nodered-bucket-idlesystem.json
[
    {
        "id": "d68fb564.ebfdd",
        "type": "subflow",
        "name": "Bucket Information Line",
        "info": "",
        "in": [
            {
                "x": 134.857177734375,
                "y": 226.42861938476562,
                "wires": [
                    {
                        "id": "f65d4dc7.a05918"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1620,
                "y": 600,
                "wires": [
                    {
                        "id": "e577f122.480698",
                        "port": 0
                    },
                    {
                        "id": "b4cb424a.e1df5",
                        "port": 0
                    },
                    {
                        "id": "54558a2a.a4fcb4",
                        "port": 0
                    },
                    {
                        "id": "4c70dd1f.3ed8b4",
                        "port": 0
                    },
                    {
                        "id": "685bb8fd.e4f91",
                        "port": 0
                    },
                    {
                        "id": "1d7174f9.6426cb",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "51c75f62.84f98",
        "type": "file in",
        "z": "d68fb564.ebfdd",
        "name": "Read the file",
        "filename": "/data/redbot/quotes.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "ed5597b2.0c29e8"
            ]
        ]
    },
    {
        "id": "ed5597b2.0c29e8",
        "type": "json",
        "z": "d68fb564.ebfdd",
        "name": "Convert to JSON object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 931,
        "y": 261,
        "wires": [
            [
                "4c70dd1f.3ed8b4"
            ]
        ]
    },
    {
        "id": "4c70dd1f.3ed8b4",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Get a random quote",
        "func": "var length = msg.payload[\"124680630075260928\"].length-1\nvar quotes = msg.payload[\"124680630075260928\"].length\nvar randquote = msg.payload[\"124680630075260928\"][Math.floor(Math.random()*quotes)]\n\nmsg.payload = '\"' + decodeURI(randquote.text) + '\"\\n—' + randquote.author_name + '\\nWant to immortalize a quote? `Bucket, addquote \"My new gay quote\" @Bucket`';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1185.5714416503906,
        "y": 259.4285583496094,
        "wires": [
            []
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "f65d4dc7.a05918",
        "type": "random",
        "z": "d68fb564.ebfdd",
        "name": "",
        "low": "1",
        "high": "6",
        "inte": "true",
        "property": "payload",
        "x": 274.857177734375,
        "y": 226.42861938476562,
        "wires": [
            [
                "1a50ac6e.077ed4"
            ]
        ]
    },
    {
        "id": "1a50ac6e.077ed4",
        "type": "switch",
        "z": "d68fb564.ebfdd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 304,
        "y": 332.14288330078125,
        "wires": [
            [
                "51c75f62.84f98"
            ],
            [
                "7d07cfe.381a23"
            ],
            [
                "5a51e555.2b819c"
            ],
            [
                "d0d353f3.c14f28"
            ],
            [
                "d59fdfd5.2f4438"
            ],
            [
                "c473cfa3.5095c"
            ],
            []
        ]
    },
    {
        "id": "7d07cfe.381a23",
        "type": "file in",
        "z": "d68fb564.ebfdd",
        "name": "Read the file",
        "filename": "/data/redbot/triggers.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 713.9285888671875,
        "y": 317,
        "wires": [
            [
                "b99834a5.4e5488"
            ]
        ]
    },
    {
        "id": "b99834a5.4e5488",
        "type": "json",
        "z": "d68fb564.ebfdd",
        "name": "Convert to JSON object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 934.9285888671875,
        "y": 318,
        "wires": [
            [
                "e577f122.480698"
            ]
        ]
    },
    {
        "id": "e577f122.480698",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Get a random Bucket Fact",
        "func": "var max = msg.payload[0].responses.length;\nvar rand = msg.payload[0].responses[Math.floor(Math.random()*max)];\n\nmsg.data = msg.payload[0];\nmsg.payload = decodeURI(rand) + \"\\n\\nGot more totally real facts for me? `Bucket, trigger add facts`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1202.5000610351562,
        "y": 316.4285583496094,
        "wires": [
            []
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "685bb8fd.e4f91",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Tell number of quotes",
        "func": "var quotes = msg.payload[\"124680630075260928\"].length\n\nmsg.payload = \"Looks like I currently have \" + quotes + \" quotes!\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1116.8333129882812,
        "y": 398.66664123535156,
        "wires": [
            []
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "bd877ff3.0e807",
        "type": "random",
        "z": "d68fb564.ebfdd",
        "name": "",
        "low": "1",
        "high": "15",
        "inte": "true",
        "property": "rng",
        "x": 700,
        "y": 660,
        "wires": [
            [
                "b47b4646.df20d"
            ]
        ]
    },
    {
        "id": "d0d353f3.c14f28",
        "type": "file in",
        "z": "d68fb564.ebfdd",
        "name": "Read the file",
        "filename": "/data/redbot/triggers.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 610,
        "y": 580,
        "wires": [
            [
                "fc7f8e30.3ad078"
            ]
        ]
    },
    {
        "id": "fc7f8e30.3ad078",
        "type": "json",
        "z": "d68fb564.ebfdd",
        "name": "Convert to JSON object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 638,
        "y": 617,
        "wires": [
            [
                "bd877ff3.0e807"
            ]
        ]
    },
    {
        "id": "39c269ef.99f696",
        "type": "comment",
        "z": "d68fb564.ebfdd",
        "name": "Random User Factoid",
        "info": "",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "b47b4646.df20d",
        "type": "switch",
        "z": "d68fb564.ebfdd",
        "name": "",
        "property": "rng",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 15,
        "x": 850,
        "y": 620,
        "wires": [
            [
                "6015c5d5.5dc6cc"
            ],
            [
                "cd3c91fd.e67b18"
            ],
            [
                "64b99762.b4403"
            ],
            [
                "97c6ceb1.a1cdd8"
            ],
            [
                "5e65e217.66dbdc"
            ],
            [
                "ae45b926.4fc308"
            ],
            [
                "6855d77e.d94fc8"
            ],
            [
                "293c500f.9995b"
            ],
            [
                "3e313bd.6ac5e44"
            ],
            [
                "d060121e.0ec218"
            ],
            [
                "f22ff2cd.a5eac"
            ],
            [
                "31ea8720.129f28"
            ],
            [
                "37a5c778.686d58"
            ],
            [
                "97a5007e.476fc8"
            ],
            [
                "a3a6bdbd.92e1d8"
            ]
        ]
    },
    {
        "id": "6015c5d5.5dc6cc",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Ash Factoid",
        "func": "var trigger = msg.payload[26];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "cd3c91fd.e67b18",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Brian Factoid",
        "func": "var trigger = msg.payload[27];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "64b99762.b4403",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Bucket Factoid",
        "func": "var trigger = msg.payload[28];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\nresponse = rand.replace(/bucket is/gi, \"I am\");\nresponse = response.replace(/bucket has/gi, \"I have\");\nresponse = response.replace(/bucket /i, \"I \"); //Should cover every other instance the first two didn't\nresponse = response.replace(/loves|likes|knows|needs|tells|hates|rules/i, function (x) {\n    return x.slice(0, -1);\n});\n\n\nmsg.payload = \"Did you know? \" + decodeURI(response) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 520,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "97c6ceb1.a1cdd8",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Casey Factoid",
        "func": "var trigger = msg.payload[19];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "5e65e217.66dbdc",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Harley Factoid",
        "func": "var trigger = msg.payload[18];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 560,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "ae45b926.4fc308",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Hinchy Factoid",
        "func": "var trigger = msg.payload[17];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 580,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "6855d77e.d94fc8",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Neu Factoid",
        "func": "var trigger = msg.payload[15];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 600,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "293c500f.9995b",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Phil Factoid",
        "func": "var trigger = msg.payload[22];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "3e313bd.6ac5e44",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Quetz Factoid",
        "func": "var trigger = msg.payload[16];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "d060121e.0ec218",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Spicy Factoid",
        "func": "var trigger = msg.payload[24];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 660,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "f22ff2cd.a5eac",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "SC Factoid",
        "func": "var trigger = msg.payload[20];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "31ea8720.129f28",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Ted Factoid",
        "func": "var trigger = msg.payload[21];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 700,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "37a5c778.686d58",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Teriki Factoid",
        "func": "var trigger = msg.payload[22];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 720,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "97a5007e.476fc8",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Tobi Factoid",
        "func": "var trigger = msg.payload[23];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "d59fdfd5.2f4438",
        "type": "file in",
        "z": "d68fb564.ebfdd",
        "name": "Read the file",
        "filename": "/data/redbot/triggers.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 690,
        "y": 820,
        "wires": [
            [
                "7ecfd5bc.07b3f4"
            ]
        ]
    },
    {
        "id": "7ecfd5bc.07b3f4",
        "type": "json",
        "z": "d68fb564.ebfdd",
        "name": "Convert to JSON object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 910,
        "y": 820,
        "wires": [
            [
                "b4cb424a.e1df5"
            ]
        ]
    },
    {
        "id": "b4cb424a.e1df5",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Get a random Jam",
        "func": "var max = msg.payload[5].responses.length;\nvar rand = msg.payload[5].responses[Math.floor(Math.random()*max)];\n\nmsg.data = msg.payload[5];\nmsg.payload = \"🎵 \" + decodeURI(rand) + \"\\nGive me some more tasty jams! `Bucket, trigger add givemeajam`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 820,
        "wires": [
            []
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "a3a6bdbd.92e1d8",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Sam Factoid",
        "func": "var trigger = msg.payload[34];\nmsg.data = trigger;\nvar max = trigger.responses.length;\nvar rand = trigger.responses[Math.floor(Math.random()*max)];\n\nmsg.payload = \"Did you know? \" + decodeURI(rand) + \"\\nWant to add more factoids? `Bucket, trigger add \" + trigger.name + \"`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 760,
        "wires": [
            [
                "54558a2a.a4fcb4"
            ]
        ],
        "icon": "node-red/comment.png"
    },
    {
        "id": "5a51e555.2b819c",
        "type": "file in",
        "z": "d68fb564.ebfdd",
        "name": "Read the file",
        "filename": "/data/redbot/quotes.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "83e9acc6.5529e8"
            ]
        ]
    },
    {
        "id": "83e9acc6.5529e8",
        "type": "json",
        "z": "d68fb564.ebfdd",
        "name": "Convert to JSON object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 871,
        "y": 401,
        "wires": [
            [
                "685bb8fd.e4f91"
            ]
        ]
    },
    {
        "id": "54558a2a.a4fcb4",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Add topic for Discord processing",
        "func": "msg.topic = \"factoid\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c473cfa3.5095c",
        "type": "file in",
        "z": "d68fb564.ebfdd",
        "name": "Read the file",
        "filename": "/data/redbot/triggers.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 670,
        "y": 880,
        "wires": [
            [
                "526d65a4.660b04"
            ]
        ]
    },
    {
        "id": "526d65a4.660b04",
        "type": "json",
        "z": "d68fb564.ebfdd",
        "name": "Convert to JSON object",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 891,
        "y": 881,
        "wires": [
            [
                "1d7174f9.6426cb"
            ]
        ]
    },
    {
        "id": "1d7174f9.6426cb",
        "type": "function",
        "z": "d68fb564.ebfdd",
        "name": "Get a random '...' line",
        "func": "var max = msg.payload[37].responses.length;\nvar rand = msg.payload[37].responses[Math.floor(Math.random()*max)];\n\nmsg.data = msg.payload[37];\nmsg.payload = decodeURI(rand) + \"\\n\\nWhat else goes on when chat is quiet? `Bucket, trigger add dotdotdot`\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1148.5714721679688,
        "y": 879.4285583496094,
        "wires": [
            []
        ],
        "icon": "node-red/comment.png"
    }
]